[submodule "Arcade-Learning-Environment"]
	path = Arcade-Learning-Environment
	url = https://github.com/mgbellemare/Arcade-Learning-Environment
[submodule "burlap"]
	path = burlap
	url = https://github.com/jmacglashan/burlap
